* {
  box-sizing: border-box;
}

.navbar {
  position: relative;
  z-index: 1;
  opacity: transparent;
}

.jumbotron {
  background-image: url(./assets/hotel2.jpg);
  background-size: cover;
  height: 680px;
  position: relative;
  margin-top: -75px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  font-family: "Playfair Display", serif;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

/* RoomCard */
.room-card {
  box-shadow: 0 13px 43px 0 rgba(37, 46, 89, 0.1);
}

.room-thumbnail {
  margin: 2.5rem auto;
  padding: 0 1.25rem;
}
.room-info {
  margin: 2.5rem auto;
}

.room-info p:nth-child(1) {
  font-size: 25px;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  line-height: -0.5px;
  color: #222222;
}

.room-info p:nth-child(2) {
  font-size: 1rem;
  line-height: 1.75;
  font-family: "Open Sans", sans-serif;
  color: #5f6060;
}

.room-info ul li {
  line-height: 1.75;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.room-price-and-book {
  border-left: 1px solid #ededed;
  margin: 2.5rem auto;
}

.room-price-and-book p:nth-child(1) {
  color: #5f6060;
  font-weight: 400;
  margin-bottom: 0.5em;
  font-size: 14px;
  font-size: 0.875rem;
}

.room-price-and-book p:nth-child(2) {
  color: #222;
  font-weight: 400;
  margin-bottom: 0.5em;
  font-size: 1.875rem;
  font-family: "Open Sans", sans-serif;
}

.room-price-and-book p:nth-child(2) span {
  font-size: 50%;
  color: #5f6060;
}

.room-price-and-book button {
  display: block;
  background: #c1b086;
  color: #fff;
  border: 1px solid;
  border-color: #c1b086;
  border-radius: 1.875rem;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5835em 3.333em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  margin: 1rem auto;
  width: 12rem;
}

.room-price-and-book button:nth-child(4) {
  color: #5f6060;
  background: none;
}

.room-price-and-book button:hover {
  cursor: pointer;
  text-decoration: none;
  border-color: #252e59;
  background: #252e59;
  color: #fff;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 992px) {
  .jtext {
    font-size: 100px;
  }
  .nav-link {
    text-transform: uppercase;
    font-size: 15px !important;
  }

  .link {
    color: white !important;
    text-decoration: none !important;
  }
  .link:hover {
    color: #e08f0b !important;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .jtext {
    font-size: 55px !important;
    letter-spacing: 0 !important;
    line-height: 10px;
    vertical-align: baseline;
    letter-spacing: 5px;
  }
}
